<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.otteralexandria">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.OtterAlexandria">
        <activity android:name=".Login"
            android:exported="true" />
        <activity android:name=".AddBook"
            android:exported="true" />
        <activity android:name=".AdminMenu"
            android:exported="true" />
        <activity android:name=".UserActivity"
            android:exported="true" />
        <activity android:name=".ManageSystemActivity"
            android:exported="true" />
        <activity android:name=".AdminDetails"
            android:exported="true" />

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>